<div>
    <label> Title</label>
    <input type="text" name="title" value="<%= book.title %>">
</div>
<div>
    <label>Author</label><!---this field is a collection of values-->>
    <select name="author">
        <% authors.forEach(author =>{%>
        <% if(author.id === book.author) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
            <% } else { %>
            <option label="<%= author.name %>" value ="<%= author.id %>">
            <%   } %>
            <% }); %>
    </select>
</div>
<div>
    <label> Publish Date</label>
    <input type="date" name="publishDate" 
    value="<%= book.publishDate == null ? '': 
    book.publishDate.toISOString().split('T')[0] %>"><!--only date part is extracted not the time part, T after means after time-->
</div>
<div>
    <label> Page Count</label>
    <input type="number" name="pageCount" min="1" 
    value="<%= book.pageCount  %>"><!-- pagecount min 1 should be there-->
</div>
<div>
    <label>Cover</label>
    <!-- transform the file into a pond-->
    <!-- add a class of file pond to our file-->
    <input type="file" name="cover" class ="filepond">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%=book.description %></textarea>
</div>